<a href="https://colab.research.google.com/github/Yangchunmeng/Accelerator/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome")

Welcome

# Program 1

In [ ]:
# Program 1: Converting KM/H to MPH
kmh = int(input("Enter km/h:"))
mph = 0.6214*kmh
print("Speed:",kmh,"KM/H = ",mph,"MPH")

Enter km/h:70
Speed: 70 KM/H =  43.498 MPH

# Basic Syntax

In [ ]:
print("Hello","World") #default sep as a space
print("Hello","World",sep="&")
print("Hello","World",sep="")
print("Hello","World") #default end as a newline,\n
print("Hello",end="")
print("World")
print("He\nllo")
print("\t\tHe\n\nllo")

Hello World
Hello&World
HelloWorld
Hello World
HelloWorld
He
llo
		He

llo

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
'''
This part is a comment.
'''

"""
This part is also a comment.
"""
print("test")
print('abc"cde"fgh')

test
abc"cde"fgh

In [ ]:
# Add two numbers
num1 = 15
num2 = 12
print("num 1 + num 2 = ",num1+num2)

num 1 + num 2 =  27

In [ ]:
price_water = 5
price_burger = 22.5
total = price_water + price_burger
print("The total is: $", total)

The total is: $ 27.5

In [ ]:
# dictionary example

student_dict = {
  "name": "J Kwok",
  "class": "F5",
  "year": 2019,
  "Grade": 'B+'
}

for key in student_dict:
  print(key)

name
class
year
Grade

In [ ]:
student_dict = {
  "name": "J Kwok",
  "name1": "J Kwok",
  "class": "F5",
  "year": 2019,
  "Grade": 'B+'
}

for key in student_dict:
    print(f'key = {key}, val = {student_dict[key]}')

key = name, val = J Kwok
key = name1, val = J Kwok
key = class, val = F5
key = year, val = 2019
key = Grade, val = B+

In [ ]:
# Example: one dimension
# import package
from numpy import array
# list of data
data = [10, 20, 30, 40, 50]
data1 = [[10, 20], [30, 40], [50, 60]]
# array of data
data = array(data)
data1 = array(data1)
# showing data
print(data)
print(type(data))
print(data1)
print(type(data1))
# determine the size of the numpy data
print(data.shape)
print(data1.shape)
print(f'{data1.shape[1]} features and {data1.shape[0]} samples.')

[10 20 30 40 50]
<class 'numpy.ndarray'>
[[10 20]
 [30 40]
 [50 60]]
<class 'numpy.ndarray'>
(5,)
(3, 2)
2 features and 3 samples.

#Functions

In [ ]:
def fun(last_name, first_name):
  print(f'Your name is {last_name.capitalize()} {first_name}.')

fun('jack', 'To')

Your name is Jack To.

In [ ]:
#Using Argument Names
def me(name="James",age=20):
  print(f"My name is {name} and I am {age} years old.")

#main program
me()
me(name='John')
me(age=15)
me(name='Jack',age=10)
me(age=20,name='John')
me('Tom',30)

My name is James and I am 20 years old.
My name is John and I am 20 years old.
My name is James and I am 15 years old.
My name is Jack and I am 10 years old.
My name is John and I am 20 years old.
My name is Tom and I am 30 years old.

# Function with One Return Value

In [ ]:
def func(x,c):
  y=5*x+c
  return y, x, c

#main program
a, b, c = func(3,2)
print(f"{a}=5*{b}+{c}")

17=5*3+2

In [ ]:
Apple_list = ['haha','oaoa',1,2,3]
index_val = 0
for extracted_item in Apple_list:
  if index_val == 1:
    print (f"the item is {extracted_item} in {index_val}")
  index_val +=1

the item is oaoa in 1

In [ ]:
def func(input_dic):
  y=5*input_dic['x']+input_dic['c']
  input_dic['y'] = y # create a new key
  return input_dic

#main program
input_dic = {"x":5, "c":6}
rst_dic = func(input_dic)
print(f"{rst_dic['y']}=5*{rst_dic['x']}+{rst_dic['c']}")

31=5*5+6

In [8]:
import pandas as pd

# read a CSV file through a URL
df=pd.read_csv("heart_exercise_w_missing_val.csv")
print(df)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal  target
0      0.0   0     1       1
1      0.0   0     2       1
2      2.0   0     2       1
3      2.0   0     2       1
4      2.0   0     2       1
..     ...  ..   ...     ...
298    1.0   0     3       0
299    1.0   0     3       0
300    1.0   2     3       0
301    1.0   1     3       0
302    1.0   1     2       0

[303 rows x 14 columns]

In [9]:
print(f"{df.shape[0]} samples and {df.shape[1]-1} features")

303 samples and 13 features

In [12]:
df['age'].max()

77

In [11]:
df['age'].min()

29

In [13]:
df[df['age']>70]

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
25,71,0,1,160,302,0,1,162,0,0.4,2.0,2,2,1
60,71,0,2,110,265,1,0,130,0,0.0,2.0,1,2,1
129,74,0,1,120,269,0,0,121,1,0.2,2.0,1,2,1
144,76,0,2,140,197,0,2,116,0,1.1,1.0,0,2,1
151,71,0,0,112,149,0,1,125,0,1.6,1.0,0,2,1
238,77,1,0,125,304,0,0,162,1,0.0,2.0,3,2,0