In [ ]:
print("Welcome")

Welcome

# Program 1

In [3]:
# Program 1: Converting KM/H to MPH
kmh = int(input("Enter km/h:"))
mph = 0.6214*kmh
print("Speed:",kmh,"KM/H = ",mph,"MPH")

Enter km/h:70
Speed: 70 KM/H =  43.498 MPH

# Basic Syntax

In [12]:
print("Hello","World") #default sep as a space
print("Hello","World",sep="&")
print("Hello","World",sep="")
print("Hello","World") #default end as a newline,\n
print("Hello",end="")
print("World")
print("He\nllo")

Hello World
Hello&World
HelloWorld
Hello World
HelloWorld
He
llo

In [4]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# Add two numbers
num1 = 15
num2 = 12
print("num 1 + num 2 = ",num1+num2)

num 1 + num 2 =  27

In [ ]:
price_water = 5
price_burger = 22.5
total = price_water + price_burger
print("The total is: $", total)

The total is: $ 27.5