<a href="https://colab.research.google.com/github/Yangchunmeng/Accelerator/blob/main/test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome")

Welcome

# Program 1

In [ ]:
# Program 1: Converting KM/H to MPH
kmh = int(input("Enter km/h:"))
mph = 0.6214*kmh
print("Speed:",kmh,"KM/H = ",mph,"MPH")

Enter km/h:70
Speed: 70 KM/H =  43.498 MPH

# Basic Syntax

In [ ]:
print("Hello","World") #default sep as a space
print("Hello","World",sep="&")
print("Hello","World",sep="")
print("Hello","World") #default end as a newline,\n
print("Hello",end="")
print("World")
print("He\nllo")
print("\t\tHe\n\nllo")

Hello World
Hello&World
HelloWorld
Hello World
HelloWorld
He
llo
		He

llo

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
'''
This part is a comment.
'''

"""
This part is also a comment.
"""
print("test")
print('abc"cde"fgh')

test
abc"cde"fgh

In [ ]:
# Add two numbers
num1 = 15
num2 = 12
print("num 1 + num 2 = ",num1+num2)

num 1 + num 2 =  27

In [ ]:
price_water = 5
price_burger = 22.5
total = price_water + price_burger
print("The total is: $", total)

The total is: $ 27.5

In [1]:
# dictionary example

student_dict = {
  "name": "J Kwok",
  "class": "F5",
  "year": 2019,
  "Grade": 'B+'
}

for key in student_dict:
  print(key)

name
class
year
Grade

In [6]:
student_dict = {
  "name": "J Kwok",
  "name1": "J Kwok",
  "class": "F5",
  "year": 2019,
  "Grade": 'B+'
}

for key in student_dict:
    print(f'key = {key}, val = {student_dict[key]}')

key = name, val = J Kwok
key = name1, val = J Kwok
key = class, val = F5
key = year, val = 2019
key = Grade, val = B+

#Functions

In [ ]:
#Using Argument Names
def me(name="James",age=20):
  print(f"My name is {name} and I am {age} years old.")

#main program
me()
me(name='John')
me(age=15)
me(name='Jack',age=10)
me(age=20,name='John')
me('Tom',30)

My name is James and I am 20 years old.
My name is John and I am 20 years old.
My name is James and I am 15 years old.
My name is Jack and I am 10 years old.
My name is John and I am 20 years old.
My name is Tom and I am 30 years old.

# Function with One Return Value

In [ ]:
def func(x,c):
  y=5*x+c
  return y, x, c

#main program
a, b, c = func(3,2)
print(f"{a}=5*{b}+{c}")

17=5*3+2

In [ ]:
Apple_list = ['haha','oaoa',1,2,3]
index_val = 0
for extracted_item in Apple_list:
  if index_val == 1:
    print (f"the item is {extracted_item} in {index_val}")
  index_val +=1

the item is oaoa in 1